@import '../../variables.module.scss';

.loader {
  text-align: center;

  &.initial-loader {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $colorBg50;
  }

  & span {
    position: relative;

    &.initial-loader {
      position: absolute;
      color: $textColor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 64px;
    }
  }
}
