@import '../../variables.module.scss';

.tabs-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
  list-style: none;

  .tab-text {
    font-weight: $fontWeightMedium;
    color: $colorText50;
    font-size: $fontSize03;
  }

  li {
    flex: auto;
    text-align: center;
    list-style: none;
    cursor: pointer;
    color: $colorText50;
    padding: $spacing03 $spacing02;

    @media screen and (max-width: 430px) {
      padding: 9px 9px 7px 9px;
    }

    &[disabled] {
      color: #aaa;
    }
  }

  .fa-icon {
    font-size: $fontSize03;
    fill: #aaa;
    margin: 0 6px 0 0;

    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  & .tab-selected {
    color: $colorText50;
    background: $colorBg50;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.tabs-content-container {
  background: $colorBg50;
}

.tab-panel-container {
  max-height: 100%;
  height: 100%;

  > div {
    display: none;
  }

  > div.active {
    display: block;
  }
}
