@import '../../variables.module.scss';

.algorithms-panel {
  color: $colorText50;
  display: flex;
  flex-direction: column;

  .algorithms-about {
    margin: 0 0 $spacing06 0;
    text-align: center;

    a {
      color: $colorPrimary50;
    }
  }

  .title-label {
    margin-bottom: $spacing02;
  }

  .algorithm-error {
    color: $colorUtilRed;
    font-size: $fontSize03;
    padding: 0 0 10px 10px;
  }
}
