@import '../../variables';

.algorithms-panel {
  color: $textColor;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;

  .algorithms-about {
    margin: 0 0 $spacing6 0;
    text-align: center;

    a {
      color: $primary;
    }
  }

  .title-label {
    margin-bottom: $spacing2;
    font-size: $font3;
  }

  .algorithm-error {
    color: $error;
    font-size: $font3;
    padding: 0 0 10px 10px;
  }
}
