@import '../../../variables.module.scss';

.selection-items {
  border-left: 1px solid $colorBgLight50;
  margin-left: $spacing03;

  .selection-item {
    padding: $spacing03;
    padding-left: $spacing03;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $colorText70;
    border-radius: $borderRadius;
    transition: 0.1s linear background;
    position: relative;

    &:hover,
    &.active-tooltip {
      background: $colorBg60;
      color: $colorText50;
      transition: 0.1s linear background;
    }

    .info-tooltip-text {
      padding: 0 $spacing03;
    }

    .fas.fa-chevron-right {
      height: fit-content;
      opacity: 0;
      padding-right: 5px;
      font-size: 12px;
    }
  }

  .accordion-subcategory {
    margin-left: $spacing03;
  }
}
