@import '../../../../variables.module.scss';

.commercial-data-search {
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 7px 0 2px 0;

    .aoi-selection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      i {
        cursor: pointer;
        color: $colorText70;
        font-size: 16px;

        &.disabled {
          color: $textColor;
          cursor: not-allowed;
        }
      }
    }

    .aoi-button {
      height: $spacing06;
      width: $spacing06;
      border: none;
      border-radius: $borderRadius;
      margin: 0 $spacing01;
      background: $colorBg70;
      cursor: pointer;

      &:hover {
        background: $colorBg60;
      }
    }

    > * {
      flex: 1;
    }
  }
}
