@import '../../variables.module.scss';

.info-tooltip {
  position: relative;
  display: inline-block;

  .info-tooltip-text {
    position: absolute;
    background: $colorBg70;
    padding: $spacing03;
    border-radius: 5px;
    box-shadow: $boxShadow;
    right: 100%;
    max-width: 300px;
    width: max-content;
    z-index: 1;
    word-wrap: break-word;
  }

  .tooltip-icon {
    cursor: pointer;
  }
}
