@import "../../variables.module.scss";

.code-editor-wrapper {
  height: 300px;
  margin-bottom: $spacing03;
}

.custom-script-wrap {
  height: 100%;

  .button-primary {
    margin-bottom: $spacing03;
  }
}
