@import '../../variables.module.scss';

/* stylelint-disable */
.advancedPanel {

  .grouped-bands-to-rgb {
    button {
      border: none;
      background-color: #22232d;
      color: $colorText50;
      font-size: 15px;
      padding: 3px 25px;
      margin: 20px 15px 0 0;
      border-radius: 5px;

      &.selected {
        border: 2px solid #aaa;
        padding: 1px 23px;
      }
    }
  }

  .accordion-subtitle-open { 
    font-size: $fontSize02;
    color: $colorText70;
    font-weight: $fontWeightNormal;
    margin-top: $spacing01;
  }

  .insert-url-block { 
    margin-bottom: $spacing02;
     margin-top: $spacing03;
     .label-primary { 
       display: inline-block;
       margin-bottom: $spacing02;
     }
  }

  .evalscripturl-input-error {
    border: 1px solid $colorUtilRed;
  }
  .evalscripturl-input-success { 
    border: 1px solid $colorUtilGreen;  
  }

  .evalscripturl-input-error-text { 
    margin-top: $spacing02;
    font-size: $fontSize02;
    color: $colorUtilRed;
  }
  
  .evalscripturl-input-success-text  { 
    color: $colorUtilGreen;
    font-size: $fontSize02;
    margin-top: $spacing02;
  }

  .toggleBandMode {
    position: relative;
    float: right;
    background: #22232d;
    width: 72px;
    height: 28px;
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;

    i {
      border-radius: 20px;
      padding: 2px 4px;
      position: absolute;
      left: 8px;
      top: 6px;
      color: #fff;
      font-size: 16px;

      &.script {
        right: 8px;
        left: auto;
      }
    }

    &::before {
      position: absolute;
      left: 4px;
      top: 4px;
      width: 30px;
      height: 25px;
      border-radius: 25px;
      content: '';
      background: #b6bf00;
      transition: all ease 0.4s;
    }

    &.script::before {
      left: 40px;
    }
  }

  .header {
    padding-bottom: 10px;
    .back-button {
      transition: 0.1s linear background;
      padding: 12px;
      &:hover {
        background: $colorBg40;
        transition: 0.1s linear background;
      }
    }
  }


}
