@import '../../variables.module.scss';

.algorithm-options {
  .option {
    display: flex;
    flex-direction: column;
    font-size: $fontSize03;

    .option-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $spacing02;
      align-items: center;
      position: relative;

      .option-name {
        font-weight: 600;
        font-size: $fontSize03;
      }
    }

    .algorithm-option-string {
      display: flex;
      flex-direction: column;
      font-size: $fontSize03;

      .algorithm-option-string-input {
        color: $textColor;
        background: $colorBg50;
        padding: 5px;
      }

      .algorithm-option-string-restriction {
        padding-top: $spacing02;
      }
    }

    .algorithm-option-aoi {
      .algorithm-option-aoi-tools {
        display: flex;
        flex-direction: row;

        .button {
          text-align: center;
          border: none;
          cursor: pointer;
          font-size: $fontSize03;
          font-weight: 600;
          padding: 10px 12px;
          text-decoration: none;
        }

        .algorithm-option-aoi-display {
          width: 80%;
        }

        .algorithm-option-aoi-clear {
          width: 20%;
        }
      }

      .algorithm-option-aoi-restriction {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        font-size: $fontSize03;
        margin-bottom: $spacing02;

        i {
          padding: 0 6px;
        }
      }
    }

    .algorithm-option-list {
      display: flex;
      flex-flow: row wrap;
      font-size: $fontSize03;

      .list-input {
        width: 40%;
        margin-right: 5px;
        margin-bottom: 5px;
      }

      .add-and-remove {
        display: flex;
        flex-direction: column;
        width: 10%;
        margin-left: 5px;

        .add-element {
          cursor: pointer;
          font-size: 18px;
        }

        .remove-element {
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }

  .purchase-button {
    width: 100%;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.algorithm-option-list-restricted {
  font-size: $fontSize03;
}
