@import '../../../variables.module.scss';

#map {
  .leaflet-control-container {
    .leaflet-bottom.leaflet-left {
      .leaflet-control-attribution {
        background: $colorBg50;
        margin-left: 10px;
        color: $textColor;

        a {
          color: $textColorDisabled;
        }
      }

      @media screen and (max-width: 1200px) {
        .leaflet-control-attribution {
          max-width: 320px;
        }
      }
    }

    .leaflet-bottom.leaflet-right {
      .leaflet-control-zoom {
        border: none;

        a {
          padding-right: 2px;
          line-height: 27px;
        }

        .leaflet-control-zoom-in {
          border-bottom: 2px solid $colorBg70;
        }

        .leaflet-control-zoom-in,
        .leaflet-control-zoom-out {
          background-color: $colorBg70;
          color: $textColor;
          box-shadow: $boxShadow;
          border-radius: 0;
        }

        .leaflet-control-zoom-in:hover,
        .leaflet-control-zoom-out:hover {
          color: $textColor;
        }
      }

      @media screen and (max-width: 400px) {
        .leaflet-control-zoom {
          bottom: 18px;
        }
      }

      .leaflet-control-scale {
        margin-bottom: 0;

        .leaflet-control-scale-line {
          background: $colorBg70;
          color: $textColor;
          border-color: $textColor;
        }
      }

      @media screen and (max-width: 500px) {
        .leaflet-control-scale {
          bottom: 2px;
        }
      }

      @media screen and (max-width: 400px) {
        .leaflet-control-scale {
          bottom: 22px;
        }
      }

      .leaflet-control-map-coordinates {
        display: block;
        margin-bottom: 0;
        clear: unset;
        font-size: $fontSize01;
        background: $colorBg50;
        color: $textColor;
        padding: 1px;
        min-width: 140px;
        text-align: center;
      }

      .leaflet-control-map-coordinates.no-coordinates {
        display: none;
      }

      @media screen and (max-width: 500px) {
        .leaflet-control-map-coordinates {
          clear: both;
        }
      }

      @media screen and (max-width: 400px) {
        .leaflet-control-map-coordinates {
          bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-height: 400px) {
  .leaflet-bottom {
    position: fixed;
  }
}
