@import '../../../variables.module.scss';

.date-pickers-wrapper {
  display: flex;
  border-radius: $borderRadius;

  > div:nth-child(1) {
    margin-right: $spacing01;
  }

  > div:nth-child(2) {
    margin-left: $spacing01;
  }
}

.date-picker {
  background: $colorBg70;
  width: 100%;
  color: #fff;
  flex-grow: 1;
  padding: 0 $spacing01;
  height: $formElementBaseHeight;
  border-radius: $borderRadius;
  position: relative;

  :hover {
    cursor: pointer;
  }

  .fa-calendar {
    margin-right: $spacing01;
    margin-left: $spacing01;
  }

  .fa-caret-left,
  .fa-caret-right {
    display: flex;
    justify-content: center;
  }

  .date-picker-loader {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $spacing01;
  }

  .date-picker-input-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .date-picker-input-icon {
      color: $colorText50;
      text-align: center;
      width: 20px;
    }

    .date-picker-input {
      background: none;
      color: $colorText50;
      border: none;
      height: 100%;
      width: 100%;
    }

    .cal-icon-left,
    .cal-icon-right {
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    /***  month and year select  ***/ //

    i.fa.cal-icon-left,
    i.fa.cal-icon-right {
      color: #fff;
    }

    i.fa.cal-icon-left,
    i.fa.cal-icon-right,
    i.fa.cal-icon-cal {
      width: 20px;
    }

    i.fa.cal-icon-left.disabled,
    i.fa.cal-icon-right.disabled {
      color: #aaa;
    }
  }
}

.date-picker-separator {
  padding: 0 5px;
}

.cc-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $spacing02 $spacing03;
  margin-top: $spacing03;
  background: $colorBg70;

  &.cc-wrapper-number {
    background: none;
    padding: 0;
  }

  .cc-text-label {
    color: $textColor;
    margin-right: $spacing03;
  }

  .cc-text {
    color: $textColor;
    margin-right: $spacing03;
    background-color: $colorBg70;
    padding: $spacing02 $spacing03;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 0 !important;
  }
}
