/* stylelint-disable */
@import '../../../variables.module.scss';



.timespan-picker {
  .fa-calendar {
     margin-right: $spacing02;
  }
  .date-picker-calendar-wrap { 
    
    margin-bottom: $spacing04;
  }
  .date-time-input { 
    display: flex;
  }

  .date-time-input-label { 
    margin-bottom: $spacing02;

  }

  .numeric-input-label {
    margin-bottom: $spacing02;
    display:block;
  }

  .date-picker-input-icon {
    color: $colorBgLight50;
  }

  .date-picker-input {
    height: $formElementBaseHeight;
  }
  .time-input {
    width: 50%;
    display: flex;

  }

  .time-input-section { 
    width: 100%;
  }

  .numeric-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $formElementBaseHeight;
    background: $colorBg70;
    border-radius: $borderRadius;
    margin-right: $spacing02;
    padding: 0 $spacing01;
    .input-value {
      background: $colorBg70;
      border: none;
      color: $colorText50;
      font-size: $fontSize03;
      height: 100%;
      width: 100%;
    }
  }



  .up, .down { 
    color: $colorText70;
  }
  .date-input {
     width: 50%;
     margin-right: $spacing02;
  }
  .time-input-hours-minutes { 
    flex-grow: 1;
    background: $colorBg70;
  }
}
