@import '../../variables.scss';

.edc-data-panel {
  color: #eee;
  display: flex;
  flex-direction: column;

  .tab {
    color: $textColorDisabled;

    .tab-text {
      padding: $spacing1;
    }
  }

  .tab:hover {
    color: $textColor;
  }

  .tab-list {
    margin-bottom: $spacing2;

    .tab-selected {
      color: #eee;

      .tab-text {
        border-bottom: 3px solid $primary;
      }
    }
  }

  .toggle {
    display: flex;
    justify-content: center;

    .button {
      text-align: center;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 15px;
      text-decoration: none;
      background-color: $secondaryDark;
      margin-bottom: 10px;
      display: inline-block;

      &.selected {
        background-color: $primary;
      }
    }
  }
}
