@import '../../variables.module.scss';

.edc-data-panel {
  color: #eee;
  display: flex;
  flex-direction: column;

  .tab {
    color: $textColorDisabled;

    .tab-text {
      padding: $spacing01;
    }
  }

  .tab:hover {
    color: $textColor;
  }

  .tab-list {
    margin-bottom: $spacing02;

    .tab-selected {
      color: $colorText50;

      .tab-text {
        border-bottom: 3px solid $colorPrimary50;
      }
    }
  }

  .toggle {
    display: flex;
    justify-content: center;

    .button {
      text-align: center;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 15px;
      text-decoration: none;
      background-color: $colorBg50;
      margin-bottom: 10px;
      display: inline-block;

      &.selected {
        background-color: $colorPrimary50;
      }
    }
  }
}
