@import '../variables.module.scss';

// BUTTON

.button-base {
  background: none;
  cursor: pointer;
  font-size: $fontSize02;
  padding: 0 $spacing03;
  transition: 0.05s linear background;
  font-weight: $fontWeightMedium;
  border: none;
  letter-spacing: 0.3px;
  border-radius: $borderRadius;
  min-height: $formElementBaseHeight;

  &.fluid {
    width: 100%;
  }
}

.button-base-small {
  background: none;
  cursor: pointer;
  font-size: $fontSize02;
  padding: 0 $spacing03;
  transition: 0.05s linear background;
  font-weight: $fontWeightMedium;
  border: none;
  letter-spacing: 0.3px;
  border-radius: $borderRadius;
  min-height: 24px;
  height: 40px;
}

.button:hover {
  transition: 0.05s linear background;
}

// PRIMARY

.button-primary {
  @extend .button-base;

  width: 100%;
  background-color: $colorPrimary50;
  color: $colorText50;
  border: none;

  i {
    margin-right: 5px;
  }

  &:hover {
    background: $colorPrimary30;
  }

  &.inactive {
    color: $textColor;
    background: $colorBg50;
  }

  &:disabled {
    background: $colorUtilGrey;
    opacity: 0.5;
    cursor: auto;
  }
}

// SECONDARY

.button-secondary {
  @extend .button-base;

  border: 1px solid $colorText70;
  color: $colorText70;
  width: 100%;

  &:hover {
    border: 1px solid $colorText50;
    color: $colorText50;
  }
}

// TERTIARY

.button-tertiary {
  border: none;
  padding: 14px 0;
  background: none;
  color: $textColorFaded;
  font-weight: $fontWeightNormal;
  letter-spacing: 0.3px;
  font-size: $fontSize02;

  &:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Button Icon

.button-icon {
  background: none;
  border: none;
  color: #b2b2b2;
  cursor: pointer;

  &:hover {
    color: $textColor;
  }
}

.button-secondary-small {
  @extend .button-base-small;

  border: 1px solid $colorBgLight50;
  color: $colorText70;
}
