@import '../variables.module.scss';

.dropdown-base {
  height: $formElementBaseHeight;
  font-size: $fontSize02;
  border: none;
  border-radius: $borderRadius;
}

.dropdown-primary {
  @extend .dropdown-base;

  background: $colorBg70;
  color: $colorText50;
  width: 100%;
  padding: 0 $spacing02;

  &.compact {
    height: auto;
    padding: $spacing01;
  }
}

.dropdown-primary:hover {
  cursor: pointer;
}
