@import '../variables.scss';

.input-base {
  font-size: $font4;
  height: 45px;
}

.input-primary {
  @extend .input-base;

  box-sizing: border-box;
  padding: 0 $spacing2;
  background: $secondary;
  border: none;
  color: $textColor;

  &.compact {
    height: auto;
    width: 100%;
    padding: $spacing1;
    font-size: $font3;
  }
}

.input-primary:hover {
  background: $secondaryDark;
}

.input-primary:focus {
  background: $secondaryDark;
}
