@import '../variables.module.scss';

.input-base {
  font-size: $fontSize04;
  height: $formElementBaseHeight;
}

.input-primary {
  @extend .input-base;

  box-sizing: border-box;
  padding: 0 $spacing02;
  background: $colorBg70;
  border: none;
  color: $textColor;
  font-size: 14px;
  border-radius: $borderRadius;
  width: 100%;

  &.compact {
    height: auto;
    width: 100%;
    padding: $spacing01;
    font-size: $fontSize03;
  }

  :hover {
    cursor: pointer;
  }
}
