@import '../../variables.module.scss';

.aoi-select-panel {
  color: $textColor;
  display: flex;
  flex-direction: column;

  .select-aoi-button {
    background-color: $colorBg70;
    margin-bottom: 10px;
  }

  .upload-aoi-button {
    background: none;
    margin-top: $spacing02;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #upload-aoi {
    display: none;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .error-panel {
    color: $colorUtilRed;
    padding: 2px 10px;
    font-size: $fontSize02;
  }

  .continue-button {
    position: absolute;
    bottom: 20px;
  }
}

.aoi-confirm-panel {
  color: $textColor;
  width: 100%;
  position: relative;
  margin-top: $spacing04;

  .clear-aoi-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .radio-wrap {
    margin: $spacing03 0;
  }

  .continue-button {
    width: 80%;
  }
}
