@import '../../variables';

.visualization-panel {
  padding: $spacing3 $spacing4;
  background-color: $secondaryLight;

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .back-button {
      padding: 7px 10px;
      height: unset;
    }

    .collection-name {
      width: 60%;
      color: $textColor;
      font-size: $font4;
      font-weight: $bold;
      text-align: right;
      word-break: break-all;
    }
  }

  .date-selection {
    .timespan-toggle {
      font-weight: bold;
    }

    .timespan-picker {
      .date-time-input {
        margin-left: 5px;
        margin-right: 0;

        .numeric-input input {
          max-width: 30px;
        }
      }
    }
  }

  .vector-features-panel {
    display: flex;
    flex-direction: column;
    color: $textColor;

    .maximum-feature-warning {
      padding: 5px 0;
    }

    .load-more {
      padding: 5px 0;

      .n-features-fetched {
        font-weight: bold;
        display: inline-block;
      }

      .load-more-button {
        margin-left: 10px;
        padding: 5px 10px;
        height: unset;
      }
    }
  }

  .zoom-to-location {
    color: $textColor;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;

    i {
      margin-right: 5px;
    }

    &:hover {
      border: none;
      background: $primaryDark;
    }
  }

  .visualization-layers-wrapper {
    margin-top: 20px;
  }

  .accordion-wrap {
    border-bottom: 2px solid $secondary;

    .accordion-content {
      background-color: $secondary;
    }
  }
}
