@import "../../variables.module.scss";

.visualization-layer-container {
  display: flex;
  justify-content: space-between;

  .visualization-layer {
    position: relative;
    width: 100%;
    transition: 0.1s linear background;
    display: flex;
    color: $colorText50;
    font-weight: $fontWeightMedium;

    &-selected-bar {
      position: absolute;
      left: -$spacing02;
      height: 60%;
      width: 4px;
      top: 50%;
      transform: translateY(-50%);
      background: $colorPrimary50;
    }

    &:hover {
      transition: 0.1s linear background;
      background: $colorBg70;
      cursor: pointer;
    }
  }

  .button-tertiary {
    margin-left: $spacing03;
    flex-grow: 1;
    flex-shrink: 0;

    .visualization-layer-button-icon {
      margin-left: $spacing02;
    }
  }
}
