@import '../../variables';

.visualization-layer {
  margin: 5px 0;
  padding: 10px 20px;
  background-color: $secondary;

  .main-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      color: $textColor;
      font-size: $font4;
      font-weight: $medium;
      cursor: pointer;
      width: 80%;
    }

    .expand-collapse-evalscript {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        margin-left: 5px;
      }
    }
  }

  &.selected {
    border: 1px solid $primary;

    .main-row {
      .title {
        color: $primaryLight;
      }
    }
  }

  .evalscript-holder {
    pre {
      color: $textColor;
      background-color: $secondaryDark;
      padding: 5px;
      text-align: left;
      white-space: pre-wrap;
      max-height: 150px;
      overflow-y: auto;
    }
  }
}
