@import "../../variables.module.scss";

.visualization-panel {
  background-color: $colorBg50;

  .switch {
    margin-bottom: $spacing02;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;

    .back-button {
      height: $spacing06;
      width: $spacing06;
      color: $colorText50;
      border-radius: $borderRadius;
      background: $colorBg70;
      border: none;
      margin-right: $spacing04;
      flex-shrink: 0;
      transition: 0.1s linear background;

      &:hover {
        cursor: pointer;
        background: $colorBg40;
        transition: 0.1s linear background;
      }
    }

    .collection-info {
      max-width: 100%;
    }

    .collection-name {
      color: $colorText50;
      font-size: $fontSize03;
      font-weight: $fontWeightMedium;
      margin-bottom: $spacing01;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .zoom-to-location {
      color: $colorText70;
      padding: 0;
      display: flex;
      align-items: center;

      .fa-crosshairs {
        margin-right: $spacing01;
      }
    }
  }

  .vector-features-panel {
    color: $colorText50;
  }

  .visualization-layers-wrapper {
    .visualization-layer {
      padding: $spacing03 $spacing01;
    }
  }
}
