@import './variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body,
div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

div,
button,
h1,
h2,
span {
  font-family: 'Source Sans Pro', sans-serif;
}

// Leaflet.js overwrites CSS styles of buttons in the right-hand side panel,
// so we need to be more specific:
.leaflet-container {
  /* stylelint-disable-next-line */
  .controlsWrapper .panelButton i {
    color: $colorPrimary50;
  }
}

/* stylelint-disable */

.react-toggle {
  vertical-align: middle;
}

.react-toggle--checked .react-toggle-track,
.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background: $colorPrimary50;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 2px 3px $colorPrimary50;
}

.react-toggle:active .react-toggle-thumb {
  box-shadow: 0 0 5px 5px $colorPrimary50;
}

.react-toggle.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 3px $colorPrimary50;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: $colorPrimary50;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0 0 2px 2px #fff;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #4d4d4d;
}

.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: $colorPrimary50;
}
/* stylelint-enable */