// Colors
$primary: #2d93ad;
$primaryLight: #5dbdd5;
$primaryDark: #267c92;

$secondary: #2a2c37;
$secondaryLight: #43444f;
$secondaryDark: #1b1c23;

$error: #f46036;
$disabled: #a29c9b;

$textColor: #eee;
$textColorFaded: #ececec;
$textColorDisabled: #c8c8c8;

// Padding and margin
$spacing1: 0.3rem;
$spacing2: 0.5rem;
$spacing3: 1rem;
$spacing4: 1.5rem;
$spacing5: 2rem;
$spacing6: 2.5rem;
$spacing7: 3rem;
$spacing8: 3.5rem;
$spacing9: 4rem;
$spacing10: 4.5rem;

// Font
$font1: 10px;
$font2: 12px;
$font3: 14px;
$font4: 16px;
$font5: 24px;
$font6: 32px;
$font7: 40px;
$font8: 48px;

// Weights
$normal: 400;
$medium: 600;
$bold: 700;

// Box Shadow
$boxShadow: 0 2px 4px rgba(0, 0, 0, 0.5);

// Misc
