@import '../../variables.module.scss';

.accordion-wrap {
  .accordion-icon-wrap {
    background: $colorBg70;
    height: $spacing05;
    width: $spacing05;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadius;

    .accordion-icon {
      font-size: $fontSize02;
    }
  }
}

.accordion-title {
  align-items: center;
  background-color: $colorBg50;
  display: flex;
  justify-content: space-between;
  padding: $spacing03 $spacing02;
  color: $colorText50;
  font-weight: $fontWeightMedium;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s linear background;

  &:hover {
    background: $colorBg60;
    transition: 0.1s linear background;
  }

  &.disabled {
    cursor: not-allowed;
    color: #aaa;
  }
}

.accordion-content {
  border-top: none;
  padding-bottom: $spacing03;
}
